
<%= form_with(model: @trip, local: true) do |f| %>

  <div class = "field" >
  <%= f.label  :name %>
  <%= f.text_field :name, required: true, placeholder: "Name of Trip" %>
  </div>

  <div class = "field" >
  <label><%= f.label :start_date %></label>
  <%= f.datetime_field :start_date, required: true %>
  </div>

  <div class = "field" >
  <%= f.label :end_date %>
  <%= f.datetime_field :end_date, required: true %>
  </div>
  
 

  <%= f.submit%>

  <%end %>
 
