<h1><%= @trip.name %> | <%= link_to new_trip_location_path(@trip) do %>
Add a Location </h1> 
<% end %>
<h2>Click To View Details on this amazing trip</h2>
<div class="ui cards">
  <div class="ui card">
  <h3><%= @trip.name %></h3>
    <div class="content">
      
      <% @trip.locations.each do |location|%>
        <h1><%= link_to location.name, trip_locations_path(@trip) %> |
        <%= link_to [@trip, location], method: :delete do %>
        <i class="ui red trash icon"></i>
        <% end %> |
        <%= link_to edit_trip_location_path(@trip, location) do %>
        <i class="ui pencil icon"></i>
        <% end %>
      <% end %>
      </h1>
      <br />
      <br />
    </div>
  </div>
