<div class = "field">
  <%= f.label :street%>
  <%= f.text_field :street, placeholder: "Street" %>
  </div>
 
  <div class = "field">
  <%= f.label :city%>
  <%= f.text_field :city, placeholder: "City" %>
  </div>

  <div class = "field">
  <%= f.label :state %>
  <%= f.text_field :state, placeholder: "State" %>
  </div>

  <div class = "field">
  <%= f.label :zip %>
  <%= f.text_field :zip, placeholder: "Zip Code" %>
  </div>
  
  <div class = "field">
  <%= f.label :longitude %>
  <%= f.text_field :longitude, placeholder: "longitude" %>
  </div>

  <div class = "field">
  <%= f.label :latitude %>
  <%= f.text_field :latitude, placeholder: "latitude" %>
  </div>
