 <%= form_with(model: [@trip, @location], local: true) do |f| %>
 
 <div class = "field">
  <%=f.label :name %>
  <%=f.text_field :name, required: true, placeholder: "Name of Location" %>
  </div>

  <div class = "field" >
  <%= f.label :days %>
  <%= f.text_field :days, placeholder: "Number of Days" %>
  </div>

  

  <%= f.submit%>

  <% end %>