 <div class = "field">
  <%=f.label :name %>
  <%=f.text_field :name, required: true, placeholder: "Name of Location" %>
  </div>

  <div class = "field" >
  <%= f.label :days %>
  <%= f.text_field :days, placeholder: "Number of Days" %>
  </div>

  <div class = "field">
  <%= f.label :street%>
  <%= f.text_field :street, placeholder: "Street" %>
  </div>
 
  <div class = "field">
  <%= f.label :city%>
  <%= f.text_field :city, placeholder: "City" %>
  </div>

  <div class = "field">
  <%= f.label :state %>
  <%= f.text_field :state, placeholder: "State" %>
  </div>

  <div class = "field">
  <%= f.label :zip %>
  <%= f.text_field :zip, placeholder: "Zip Code" %>
  </div>
  
  <div class = "field">
  <%= f.label :longitude %>
  <%= f.text_field :longitude, placeholder: "longitude" %>
  </div>

  <div class = "field">
  <%= f.label :latitude %>
  <%= f.label :latitude, placeholder: "latitude" %>
  </div>